#pedirLibro.reveal-modal{:data => {'reveal' => true}}
  %p
    Si has leído el libro, a mi me encantará saber qué te ha parecido, y si me dejas, la publico aquí junto a todas las demás.
  %form
    .row
      .large-12.columns
        %label Tu nombre
        %input#nombre{:type=> "text", :required => true}
    .row
      .large-12.columns
        %label Tu email (opcional)
        %input#email{:type=> "email"}
    .row
      .large-12.columns
        %label Tu reseña
        %textarea#comments{:style => "height:180px", :placeholder=> "Aprovecha para contarme aquí cosas o preguntar lo que sea!"}
    .row
      .large-12.columns.text-center
        %a#send.button{:href => "#"} Enviar

  %a.close-reveal-modal ×
