#reviews.bounceInUp.animated
  %h2 Bandeja de entrada
  -@reviews.each_with_index do |review,idx|
    .review{:class => (idx % 2 ==0 ? "a" : "b")}
      %p.name=review.name
      .text
        = simple_format review.review
      - if review.images
        - review.images.each do |img|
          = image_tag  img.url
      .n="#{idx+1}"
    - unless idx + 1 == @reviews.size

      %hr
